@{
    this.ViewData["Title"] = "Posts";
}

@model IEnumerable<Post>

<h2>Post</h2>

<form asp-controller="Posts" asp-action="Index" method="get">
    <p>Find post by title:</p>
    <input type="text" name="Title" />
    <input type="submit" value="Search" class="btn btn-primary" />
</form>


<p>
    <a asp-controller="Posts" asp-action="Create" class="nav">Create a new post</a>
</p>

@if (this.Model.Count() == 0)
{
    <p>
        <i>No posts 😔</i>
    </p>
}
else
{
    <div class="table">
        <div class="header">
            <div class="header-cell">Title</div>
            <div class="header-cell">Content</div>
            <div class="header-cell">Likes</div>
            <div class="header-cell">Comments</div>
        </div>

        @foreach (var post in this.Model)
        {
            <div class="row">
                <div class="cell">@post.Title</div>
                <div class="cell">@post.Content</div>
                <div class="cell">@post.Likes</div>
                <div class="cell">
                    <a asp-controller="Posts" asp-action="Comments" asp-route-id="@post.Id" class="btn btn-warning">Comments</a>
                </div>

                <div class="cell">
                    
                    <a asp-controller="Posts" asp-action="Details" asp-route-id="@post.Id" class="btn btn-primary">Details</a>
                    <a asp-controller="Posts" asp-action="Edit" asp-route-id="@post.Id" class="btn btn-warning">Edit</a>
                    <a asp-controller="Posts" asp-action="Delete" asp-route-id="@post.Id" class="btn btn-danger">Delete</a>
                </div>
            </div>
        }
    </div>
}

@*<br />

@{
    string prevButtonState = !this.Model.HasPrevPage ? "disabled" : "";
    string nextButtonState = !this.Model.HasNextPage ? "disabled" : "";
}

<a asp-controller="Posts" asp-action="Index" asp-route-PageNumber="@(this.Model.PageNumber - 1)" class="btn btn-link @prevButtonState">Prev</a>
<br />
<a asp-controller="Posts" asp-action="Index" asp-route-PageNumber="@(this.Model.PageNumber + 1)" class="btn btn-link @nextButtonState">Next</a>*@
